/*WHOLE PAGE*/
:root{
    --button: rgb(47, 21, 1);
    --hover: rgb(111, 49, 2);
    --active: rgb(172, 78, 7);
}
html{
    /*fallback color*/
    background-color: darkolivegreen;
    /*image*/
    background-image: url("Images/Grocery.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Garamond;
}

h1{
    color: white;
    text-align: center;
    text-decoration: underline;
    position: absolute;
    top: 0;
    width: 100%;
}

/*TOOLTIP*/
#tooltip, #tooltipEdit{
    display: inline-block;
    box-shadow: 0px 5px 10px rgb(2, 0, 24);
}
#tooltipEdit{
    margin: 5px 30px 5px 10px
}
#tooltip{
    margin: 20px 0 0 100px;
}

#tooltipEdit .tooltipText, #tooltip .tooltipText{
    visibility: hidden;
    background-image: 
        linear-gradient(to bottom right, 
            rgba(58, 20, 1, 0.9), 
            rgba(181, 119, 88, 0.7),
            rgba(245, 222, 179, 0.5), 
            rgba(245, 222, 179, 0.5), 
            rgba(181, 119, 88, 0.7), 
            rgba(58, 20, 1, 0.9)),
                url('Images/paperTexture.jpg');
    color: black;
    border: 3px solid rgba(103, 51, 2, 0.5);
    box-shadow: 0px 5px 10px rgb(2, 0, 24);
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: serif;
}

#tooltip .tooltipText{
    width: 500px;
    height: 400px;
}
#tooltipEdit .tooltipText{
    width: 300px;
    height: 150px;
}

#tooltip:hover .tooltipText,
#tooltip:focus .tooltipText, 
#tooltipEdit:hover .tooltipText,
#tooltipEdit:focus .tooltipText{
    visibility: visible;
}

/*DIV*/
div{
    background-image: 
        linear-gradient(to bottom right, 
            rgba(58, 20, 1, 0.9), 
            rgba(181, 119, 88, 0.7),
            rgba(245, 222, 179, 0.5), 
            rgba(245, 222, 179, 0.5), 
            rgba(181, 119, 88, 0.7), 
            rgba(58, 20, 1, 0.9)),
                url('Images/paperTexture.jpg');
    border-radius: 25px;
    padding: 10px;
}

#formDiv, #listDiv{
    width: 70%;
    max-width: 100%;
    border: 3px solid rgba(103, 51, 2, 0.5);
    display: block;
    box-shadow: -5px 5px 10px rgb(2, 0, 24);
    text-align: center;
}
#formDiv{
    margin: 20px auto 10px auto;
}
#buttonDiv{
    background: transparent;
    margin: auto;
}


/*YOUR LIST*/
#yourList{
    margin: auto; 
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
}
#listDiv{
    margin: 10px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1 1 1 1;
    gap: 10px;
    
}
#listHeaders{
    margin: auto;
    display: block;
}
#itemDiv, #quantityDiv, #costDiv, #calculationsDiv{
    background: transparent;
    margin: auto;
}
#itemDiv, #quantityDiv, #costDiv{
    justify-items: center;
    align-items: center;
}
#itemDiv{
    width: 90%;
    grid-column: 1;
    grid-row: 2;
    margin: auto;
}
#listItems{
    font-family: 'Indie Flower';
}
#quantityDiv{
    width: 90%;
    grid-column: 2;
    grid-row: 2;
    margin: auto;
}
#costDiv{
    width: 90%;
    grid-column: 1;
    grid-row: 3;
}
#calculationsDiv{
    width: 85%;
    grid-column: 2;
    grid-row: 3;
    text-align: left;
}
#edit, #delete{
    margin: 0 5px;
}
#listButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background: transparent;
    grid-column: span 2;
    grid-row: 4;
}

/*EDIT*/
#listEditorDiv{
    margin: 10px auto;
    border: 3px solid rosyBrown;
    display: block;
    width: 70%;
    box-shadow: -5px 5px 10px rgb(2, 0, 24);
    text-align: center;
}
#listEditor{
    border: 1px solid black;
    margin: 5px;
}
#newValuesDiv, #listEditor, #listEditorDiv{
    display: none;
}
#editButtons{
    background: transparent;
}
#newValuesDiv{
    background: transparent;
}

/*FIELDSET*/
fieldset{
    border-radius: 25px;
    max-width: 100%;
    width: 60%;
    margin: auto;
}
legend{
    text-align: center;
    font-weight: bold;
}
#listInfo{
    margin: auto;
    width: 60%
}

/*BUTTONS*/
.button{
    color: white;
    background-color: var(--button);
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
    width: 100px;
    height: 30px;
    font-family: serif;
    box-shadow: -3px 3px 10px rgb(17, 7, 0);
    transition: background-color 0.5s ease;
}
.button:hover{
    background-color: var(--hover);
}
.button:active{
    background-color: var(--active);
}

/*INPUTS*/
#budgetCheck, #budgetAmount, .makeList{
    display: inline-block;
}

#budgetAmount{
    margin: 5px auto 20px auto;
    width: 100px;
}

.makeList{
    text-align: center;
}

#itemName{
    margin-bottom: 5px;
    width: 500px;
}
#itemQuantity{
    margin-bottom: 5px;
    width: 100px;
}
#itemCost{
    margin: 5;
    width: 100px;
}
#editItem{
    width: 50px;
}
.newList{
    margin: 5px auto;
}

/*OUTPUTS*/
.calcValues, .calcLabels{
    display: inline;
}

.overUnderOutput{
    text-align: center;
    font-weight: bold;
    margin: auto;
}
#underBudget, #onBudget{
    color: green;
}
#overBudget{
    color: red;
}

/*LIST FORMATTING*/
.listColumn{
    display: inline-block;
    border: 1px solid rgba(103, 51, 2, 0.5);
    color: black;
}
.listHeader{
    text-decoration: underline;
    text-align: center;
}

#listQuantity{
    width: 15%;
    text-align: left;
}

#listItems{
    text-align: left;
}

#listCosts{
    text-align: left;
}

/*FOOTER*/
#footerDiv{
    color: white;
    text-shadow: 3px 1px 1px black;
    text-align: center;
    margin: auto;
}
#footerDiv a{
    color: white;
    text-shadow: 3px 1px 1px black;
    text-decoration: none;
}

@media (max-width: 1024px) {
    fieldset {
        width: 90%; 
    }
    #formDiv, #listDiv {
        width: 90%; 
    }
    #listEditorDiv{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2;
        gap: 10;
    }
    #tooltipEdit{
        grid-column: 1;
        grid-row: 1;
    }
    #editItem{
        grid-column: 2;
        grid-row: 1;
    }
    #editButtons{
        grid-row: 2;
        grid-column: span 2;
        justify-items: center;
        align-items: center;
        background: transparent;
    }
}
